<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Client 1 | Home
	body
	h1 Name  : Client 1
	br 
	p token : #{access_token}
	p refresh : #{refresh_token}
	p expired : #{expires_in} second
	p scope : #{scope}
	p token_type : #{token_type} 